@charset "utf-8";

body{
    margin: auto;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header video{
    width: 100%;
    height: 400px;
    object-fit: cover;

}
.menu{
    float: left;
    display: flex;
    width: 100%;
    padding-left: 10px;
    margin: 0;
    font-size: 30px;
}
.menu a{
    font-size:30px;
    padding: 25px 15px;
    text-decoration: none;
    float:left;
    display: flex;
}
.dropdown {
    position: relative;
}
.menu a:hover {
    color: red;
    background-color: #555;
}
#header menu{
    font-size: 20px;
}
.menu a:hover {
    color: red;
    background-color: #555;
}